* {
    font-family: Lato;
}

.hero-background {
    background-color: #FFF785;
    height: 750px;
}

.hero-header {
    color: #47525E;
    font-family: Lato;
    font-weight: 600;
    font-size: 80px;
    line-height: 62px;
    text-align: center;
    padding-top: 247px;
    padding-bottom: 62px;
}

.hero-subtitle {
    color: #5A6978;
    font-family: Lato;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    padding-bottom: 42px;
}

.btn-hero-txt {
    color: #FFFFFF;
    font-family: Lato;
    font-size: 18px;
    line-height: 62px;
    text-align: center;
    text-decoration: 'none';
}

.hero-btn {
    background-color: #47525E;
    color: #FFFFFF;
    font-family: Lato;
    font-weight: 400;
    font-size: 18px;
    border-radius: 5px;
    width: 192px;
    height: 54px;
    padding-top: 10px;
    text-decoration: 'none';

}

.abt-header {
    color: #47525E;
    font-family: Lato;
    font-size: 80px;
    padding-top: 139px;
}

.abt-section {
    padding-top: 159px;
}

.abt-title {
    color: #47525E;
    font-family: Lato;
    font-size: 60px;
    font-weight: 600;
    line-height: 33px;
    width: 464px;
    text-align: left;
    padding-bottom: 50px;
}

.abt-p {
    color: #8190A5;
    font-family: Lato;
    font-size: 26px;
    line-height: 45px;
    width: 480px;
    text-align: left;
}

.abt-ppl-img {
    width: 350px;
    height: auto;
}

.abt-spacer {
    padding-top: 150px;
}

.navbar {
    background-color: #FFF785;
}

.nav-logo-txt {
    color: #47525E;
    font-family: Lato;
    font-weight: bold;
    font-size: 38px;
    line-height: 62px;
    text-align: center;
    margin-left: 14px;
}

.nav-logo {
    margin-top: -11px;
    padding-left: 25px;
}

.nav-item {
    margin-left: 20px;
    margin-right: 20px;
    align-self: center;
}

.nav-link {
    color: #47525E;
    font-family: Lato;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.navbar-brand {
    margin-right: 4rem;
}

.vl {
    border: 1px solid #47525E;
    height: 42px;
    margin-left: 10px;
    margin-right: 10px;
}

.white {
    color: #FFFFFF;
}

.discover-left-bar {
    border-right: 1px solid #D3DCE6;
}

.discover-layout-img {
    width: 65px;
    height: auto;
}

.disc-left-title {
    color: #47525E;
    font-family: Lato;
    font-size: 21px;
    line-height: 27px;
    text-align: left;
}

body::-webkit-scrollbar {
    width: 9px;
}

/* Track */

body::-webkit-scrollbar-track {
    background: #0000002d;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    border-radius: 10px;
}

/* Handle */

body::-webkit-scrollbar-thumb {
    background: #969FAA;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

/* Handle on hover */

body::-webkit-scrollbar-thumb:hover {
    background: #47525E;
}

.form-check-input {
    background-color: #FFFFFF;
    border: 6px solid #8492A6;
    border-radius: 8px;
    width: 30px;
    height: 30px;
}

.form-check-label {
    color: #47525E;
    font-family: Lato;
    font-size: 21px;
    text-align: left;
    padding-left: 13px;
    padding-top: 2px;
}

.form-check {
    padding-bottom: 9px;
    padding-left: 35px;
}

.searchbar {
    background-color: #FFFFFF;
    border: 3px solid #8492A6;
    border-radius: 22px;
    color: #47525E;
    font-family: Lato;
    padding-left: 27px;
}

.left-fp {
    background-color: #FFF785;
    height: 100vh;
    align-content: center;
}

.right-fp {
    padding-left: 15%;
    padding-right: 15%;
}

.form-header {
    color: #47525E;
    font-family: Lato;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
}

.fp-head {
    color: #47525E;
    font-family: Lato;
    font-weight: bold;
    font-size: 90px;
    text-align: center;
}

.fp-logo {
    width: 144px;
    height: 144px;
}

.form-btn {
    background-color: #5A6978;
    border-radius: 33px;
    width: 216px;
    height: 69px;
    color: #FFFFFF;
    font-family: Lato;
    font-size: 26px;
    text-align: center;
}

.profile-nav-item {
    padding-left: 22px;
    padding-right: 22px;
    transition: 0.1s;
}

.profile-nav-item:hover {
    background-color: #EBE260;
    border-radius: 32px;
    transition: 0.2s;
}

.profile-nav-btn {
    background-color: #969FAA;
    border-radius: 100%;
    width: 53px;
    height: 53px;
    align-self: center;
}

.profile-nav-arw {
    padding-right: 12px;
    align-self: center;
}

.dd-arrow {
    height: 32px;
    width: 32px;
}

.dropdown-menu {
    background-color: #FFFFFF;
    border: 3px solid #8492A6;
    border-radius: 6px;
    -webkit-box-shadow: -19px 17px 21px -8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -19px 17px 21px -8px rgba(0, 0, 0, 0.2);
    box-shadow: -19px 17px 21px -8px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
    color: #47525E;
    font-family: Lato;
    font-weight: bold;
    font-size: 17px;
    padding-bottom: 7px;
    padding-top: 7px;
    text-align: left;
    transition: 0.2s;
}

.dropdown-item:focus, .dropdown-item:hover {
    transition: 0.2s;
}