* {
    font-family: Lato;
}

.hero-background {
    background-color: #FFF785;
    height: 750px;
}

.hero-header {
    color: #47525E;
    font-family: Lato;
    font-weight: 600;
    font-size: 80px;
    line-height: 62px;
    text-align: center;
    padding-top: 247px;
    padding-bottom: 62px;
}

.hero-subtitle {
    color: #5A6978;
    font-family: Lato;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    padding-bottom: 42px;
}

.btn-hero-txt {
    color: #FFFFFF;
    font-family: Lato;
    font-size: 18px;
    line-height: 62px;
    text-align: center;
    text-decoration: 'none';
}

.hero-btn {
    background-color: #47525E;
    color: #FFFFFF;
    font-family: Lato;
    font-weight: 400;
    font-size: 18px;
    border-radius: 5px;
    width: 192px;
    height: 54px;
    padding-top: 10px;
    text-decoration: 'none';

}

.abt-header {
    color: #47525E;
    font-family: Lato;
    font-size: 80px;
    padding-top: 139px;
}

.abt-section {
    padding-top: 159px;
}

.abt-title {
    color: #47525E;
    font-family: Lato;
    font-size: 60px;
    font-weight: 600;
    line-height: 33px;
    width: 464px;
    text-align: left;
    padding-bottom: 50px;
}

.abt-p {
    color: #8190A5;
    font-family: Lato;
    font-size: 26px;
    line-height: 45px;
    width: 480px;
    text-align: left;
}

.abt-ppl-img {
    width: 350px;
    height: auto;
}

.abt-spacer {
    padding-top: 150px;
}

.navbar {
    background-color: #FFF785;
}

.nav-logo-txt {
    color: #47525E;
    font-family: Lato;
    font-weight: bold;
    font-size: 38px;
    line-height: 62px;
    text-align: center;
    margin-left: 14px;
}

.nav-logo {
    margin-top: -11px;
    padding-left: 25px;
}

.nav-item {
    margin-left: 20px;
    margin-right: 20px;
}

.nav-link {
    color: #47525E;
    font-family: Lato;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.vl {
    border: 1px solid #47525E;
    height: 42px;
    margin-left: 10px;
    margin-right: 10px;
}

.white {
    color: #FFFFFF;
}